A:active  { text-decoration: none; color: #0000cc }
A:hover   { text-decoration: none; color: #0000cc }
A:link    { text-decoration: none; color: #1e90ff }
A:visited { text-decoration: none; color: #1e90ff }
input { font-family:Arial, Helvetica, sans-serif; font-size:13px }
select { font-family:Arial, Helvetica, sans-serif; font-size:13px }
.title_xl  { font-family:"Comic Sans MS, Arial", Helvetica, sans-serif; font-size:24px; font-weight:bold }
.title_l  { font-family:Arial, Helvetica, sans-serif; font-size:17px; font-weight:bold }
.title_m  { font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold }
.title_s  { font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold }
.title_t  { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold }
.symbol   { font-family:Arial, Helvetica, sans-serif; font-size:13px }
.text_m   { font-family:Helvetica, Arial, sans-serif; font-size:14px }
.text_s   { font-family:Helvetica, Arial, sans-serif; font-size:13px }
.text_t   { font-family:Helvetica, Arial, sans-serif; font-size:12px }
